.input-group-text {
  font-weight: 700;
}

.purchase {
  &__header {
    text-align: center;
  }
  &__status {
    margin: 10px 0;
  }

  &__delete {
    text-align: right;
    width: 100%;
  }
}

td:not(:nth-child(2)) {
  text-align: center;
}

.order-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
}
