.product-redactor-flex {
  display: flex;
  flex-direction: column;

  &-left {
    flex-grow: 1;
  }

  &-right {
    flex-grow: 1;
    margin-left: 20px;
  }
}
.addImageInput-btn {
  margin-top: 10px;
}
