.list-container {
  padding: 10px 50px;
}

.list-add-button {
  margin-bottom: 10px !important;
}
.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-buttons {
    margin-left: auto;
    display: flex;
    & > * {
      margin: 0 3px;
    }

    i {
      font-size: 1.2rem !important;
      margin-left: 15px !important;
      margin-right: 15px !important;
      color: #343a40;
    }

    i:last-child {
      margin-right: 0 !important;
    }

    @media screen and (max-width: 768px) {
      flex-basis: auto;
    }
  }

  &-image {
    position: relative;
    left: -5px;
    max-height: 35px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
  }

  &-name {
    margin: 0;
  }

  &-labels {
    margin-left: 20px;
    opacity: .6;
  }
}

