.list-container {
  padding: 10px 50px;

  @media screen and (max-width: 1024px) {
    padding: 10px 0;
  }
}

.list-add-button {
  margin-bottom: 10px !important;
}

.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-buttons {
    margin-left: auto;
    display: flex;

    button {
      font-size: 0.8em;
      padding: 0.25em 0.65em;
    }

    & > * {
      margin: 0 3px;
    }

    i {
      font-size: 1.2rem !important;
      margin-left: 15px !important;
      margin-right: 15px !important;
      color: #343a40;
    }

    i:last-child {
      margin-right: 0 !important;
    }

    @media screen and (max-width: 768px) {
      flex-basis: auto;
    }
  }

  &-image {
    position: relative;
    left: -5px;
    max-height: 35px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
  }

  &-name {
    margin: 0 0 0 20px;
    flex: 1;
  }

  &-labels {
    margin-left: 20px;
    opacity: 0.6;

    @media screen and (max-width: 450px) {
      * {
        font-size: 0.7em !important;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .list-item-content {
    display: flex;
    padding: 1px 10px;

    > * {
      font-size: 0.9em;
    }

    &-name {
      margin: 0 0 0 10px;
    }

    &-labels {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
    }

    i {
      font-size: 0.8rem !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
      color: #343a40;
    }
  }
}
