.body {
  display: flex;
  height: 100%;
  position: relative;
}

.page-container {
  min-height: fit-content;
  display: flex;
  width: 100%;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
  }

  .page-list {
    padding: 50px;
    width: 100%;

    @media screen and (max-width: 450px) {
      width: 100%;
      padding: 10px 5px;
    }

    &__control {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;

      @media screen and (max-width: 450px) {
        justify-content: flex-start;
      }

      * {
        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
        }
      }

      > * {
        margin-bottom: 0 !important;

        @media screen and (max-width: 450px) {
          margin: 3px 0 !important;
        }
      }

      .ui.input {
        @media screen and (max-width: 1024px) {
          margin-top: 5px;
          margin-left: 0 !important;
        }

        #search-input {
          @media screen and (max-width: 450px) {
            margin: 3px 0 !important;
          }
        }
      }

      .list-filter-buttons {
        margin-left: 10px;
        height: 38px;
        flex: 1;

        @media screen and (max-width: 450px) {
          flex: 1;
        }
      }

      .ui.input {
        margin-left: 10px;

        input {
          border-radius: 5px;
          width: 280px;
        }
      }
    }
  }

  &__item {
    padding: 50px;
    flex-basis: 55%;
    min-height: 100%;
    background-color: #f8f8f8;
    width: 100%;

    @media screen and (max-width: 1100px) {
      border-top: 5px dashed #414141;
    }

    @media screen and (max-width: 450px) {
      padding: 10px;
    }
  }
}

.product-redactor-container {
  width: 100%;
  padding: 50px;

  .product-redactor {
    display: flex;

    > * {
      @media screen and (min-width: 1101px) {
        flex-basis: 50%;
        padding: 0 50px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    padding: 30px 10px;
  }
}

.page-item-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: #343a40;
}

.back-arrow {
  font-size: 1.5em !important;
  cursor: pointer;
}
