.product-redactor-container {
  .product-redactor {
    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    &-left {
      .images-block {
        display: flex;

        @media screen and (max-width: 450px) {
          flex-direction: column;
        }

        > div:last-child {
          flex: 1;
        }
      }

      @media screen and (min-width: 1101px) {
        margin-right: 10px;
      }
    }
  }

  .addImageInput-btn {
    margin-top: 10px;
  }

  .product-available {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;

    & > * {
      margin: 0 10px !important;
    }
  }

  .product-colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;

    & span {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 5px;
      border: 1px solid silver;
    }

    & > .form-group {
      display: flex;
      align-items: center;
    }
  }
}
