.slider-placeholder {
  width: 100%;
  position: relative;

  .ui.loader {
    z-index: 1000;
    display: block !important;
    position: relative;
    left: 50%;
    top: 50%;
    margin: 70px 0 50px;
  }

  &__image {
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 150px;
    background-position: center;
    background-size: cover;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__control {
    display: flex;
    justify-content: center;

    i {
      cursor: pointer;
      color: #343a40;
      font-size: 1.5em !important;
      margin: 0 10px !important;

      &:hover {
        color: black;
      }
    }
    input {
      z-index: -10;
      opacity: 0;
      position: absolute;
    }
  }
}




