.navbar {
  display: flex !important;
  height: 60px;
  justify-content: space-between;

  .to-settings {
    margin-left: auto;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    transition: all .2s ease;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 4px;
      background-color: white;
      margin: 3px 10px;
    }

    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  .burger.burger_reversed {
    transform: rotate(-90deg);
    span {
      margin: 0 10px;
      height: 10px;
    }

    span:first-child {
      background: #009344;
    }

    span:nth-child(2) {
      background: #ffffff;
    }

    span:last-child {
      background: #cf2734;
    }
  }

  .italy-flag {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    span {
      display: block;
      height: 25px;
      width: 10px;
      background-color: white;
    }

    span:first-child {
      background: #009344;
    }

    span:nth-child(2) {
      background: #ffffff;
    }

    span:last-child {
      background: #cf2734;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.nav-item {
  font-size: 1.05em;
  padding: 0 30px;

  @media screen and (max-width: 991px) {
    padding: 0 5px;
  }

  &.navbar-text:nth-child(4) {
    padding-right: 10px;
  }

  &:last-child {
    color: rgba(255, 255, 255, .5);
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, .75);
    }
  }
}

.nav-link {
  text-decoration: none;
}

tbody {
  tr {
    text-align: center;
  }
}
