.banner-redactor-container {
  width: 100%;
}

.banner-redactor {
  display: flex;
  width: 100%;
  padding: 100px;

  &__info, .slider-placeholder {
    flex-basis: 50%;
    margin: 0 20px;
  }

  .slider-placeholder {
    .ui.loader {
      top: 0;
      margin: 180px 0 110px;
    }

    &__image {
      margin: 0 auto;
      width: calc(100% - 40px);
      height: 350px;
    }
  }
}
