.snackbar {
  position: fixed;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  opacity: 0.6;
  /*  min-width: 200px;
  min-height: 100px;
  background: #676767;*/
}

.snackbar.active {
  display: flex;
  bottom: 80px;
  opacity: 1;
}

.snackbar.success {
  background: #28a745;
}

.snackbar.error {
  background: #bd2130;
}
