.list-group-item {
  @media screen and (max-width: 450px) {
    padding: 10px 2px !important;
  }
}

.list-item-content {
  display: flex;
  align-items: center;
  position: relative;

  > div {
    font-size: 0.9em;
  }

  > div:not(:first-child) {
    padding: 0 5px;
  }

  &__index,
  .date {
    font-style: italic;
  }
  &__name {
    flex: 1;
    font-weight: bold;
    min-width: fit-content;
  }

  &__orderId {
    flex-basis: 60px;
    min-width: fit-content;
    margin-left: 5px;
  }

  &__sum {
    flex-basis: 60px;
    min-width: fit-content;
    text-align: center;
  }

  .date {
    text-align: right;
    padding-left: 2px;
    flex-basis: 80px;
    min-width: fit-content;
  }
}
